@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  /* Fonts */
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Seymour One", sans-serif;
  /* Text colors */
  --main-txt-cl: #fcfcfc;
  --accent-txt-cl: #131313;
  --btn-txt-cl: #000000;
  --btn-txt-focus-cl: #ffffff;
  /* BG colors */
  --bg-cl: #84a278;
  --modal-bg-cl: #fcfcfc;
  --input-bg-cl: rgba(248, 210, 78, 0.1);
  /* Others */
  --btn-cl: #f8d24e;
  --btn-hover-cl: #0a8817;
  --btn-disabled-cl: #ababab;
  --btn-radius: 10px;
  --icon-cl: #84a178;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/**
  |============================
  | Mixin for vertical
  | indent of sections
  |============================
*/
/**
  |============================
  | Mixin for text values
  |============================
*/
/**
  |============================
  | Build grid element system
  | with flex layout
  |============================
*/
/**
  |============================
  | Mixin for media query
  |============================
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 48px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 72px;
  }
}

.uppertitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
}
.uppertitle::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--main-txt-cl);
}

.uppertitle-theme-dark {
  color: var(--grey-cl-60);
}
.uppertitle-theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 28px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 42px;
  }
}

.title-theme-dark {
  margin-bottom: 44px;
  color: var(--light-txt-cl);
}

.undertitle {
  margin-bottom: 20px;
  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-cl);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-overlay {
  position: relative;
  width: 100%;
  height: 502px;
  background-size: cover;
  background-image: url(../images/header/hero-fill.jpg);
}

.header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.logo-img {
  padding: 12px 0 0 5px;
}

.menu-toggle {
  display: flex;
  margin: 17px 20px 0 auto;
  border: none;
}

.header-title {
  margin-bottom: 32px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fcfcfc;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-btn {
  width: 108px;
  height: 38px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  background-color: #84a178;
  color: #000000;
}

.header-btn-made {
  width: 100px;
  height: 24px;
  margin-left: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  border: none;
  background-color: #84a178;
  color: #f8d24e;
}

.hero-img {
  position: absolute;
  top: 285px;
  left: 83px;
  background-color: #84a178;
}

.footer {
  background-color: aqua;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}/*# sourceMappingURL=index.css.map */