@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  60% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}
