<!-- About section -->
<section class="about section">
  <h2 class="about__subtitle">tradition and love</h2>
  <h3 class="about__title">how it’s made?</h3>
  <ul class="about__wrapper">
    <li class="about__item">
      <img src="#" alt="about background" class="about__img-bg" />
    </li>
    <li class="about__item">
      <img src="#" alt="cow eat grass" class="about__img" />
    </li>
  </ul>
  <div class="about__container container">
    <p class="about__text">
      Ice is a place where you will become not only a little happier, but also healthier. Health is
      the main value for us, and we follow it when creating our handmade desserts. We use
      traditional recipes and 100% natural ingredients. Our products are so natural that they can be
      given to children from the age of three years. Sweets lovers can expect 55 types of ice cream,
      15 types of coffee and 23 milkshakes. This is enough to choose ice cream and coffee for any
      mood!
    </p>
    <button type="button" class="about__button">Read more ></button>
  </div>
</section>
