<!-- Advantages section -->
<section class="advantages section">
  <h2 class="visually-hidden">Our advantages</h2>
  <div class="advantages__wrapper">
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icons" width="50" height="50">
          <use href="#"></use>
        </svg>
        <span class="advantages__info"></span>
        <p class="advantages__text"></p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icons" width="50" height="50">
          <use href="#"></use>
        </svg>
        <span class="advantages__info"></span>
        <p class="advantages__text"></p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icons" width="50" height="50">
          <use href="#"></use>
        </svg>
        <span class="advantages__info"></span>
        <p class="advantages__text"></p>
      </li>
    </ul>
  </div>
</section>
