<!-- Gallery section -->
<section class="gallery">
  <div class="container">
    <p class="gallery-uppertitle uppertitle">in Latin, "barba" means "beard"</p>
    <h2 class="visually-hidden">Our gallery</h2>
    <ul class="gallery-list list">
      <li class="gallery-item">
        <!-- <img
                class="gallery-img"
                srcset="./images/gallery/x/img-1@1x.jpg 1x, ./images/gallery/x/img-1@2x.jpg 2x"
                src="./images/gallery/x/img-1@1x.jpg"
                alt="gallery"
                width="270"
                height="360"
              /> -->
        <img
          class="gallery-img"
          srcset="
            ./images/gallery/img-1_270.jpg 270w,
            ./images/gallery/img-1_330.jpg 330w,
            ./images/gallery/img-1_418.jpg 418w,
            ./images/gallery/img-1_540.jpg 540w,
            ./images/gallery/img-1_660.jpg 660w,
            ./images/gallery/img-1_836.jpg 836w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px,
              100vw"
          src="./images/gallery/img-1_418.jpg"
          alt="gallery"
          width="418"
          height="360"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            ./images/gallery/img-2_270.jpg 270w,
            ./images/gallery/img-2_330.jpg 330w,
            ./images/gallery/img-2_418.jpg 418w,
            ./images/gallery/img-2_540.jpg 540w,
            ./images/gallery/img-2_660.jpg 660w,
            ./images/gallery/img-2_836.jpg 836w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px,
              100vw"
          src="./images/gallery/img-2_418.jpg"
          alt="gallery"
          width="418"
          height="360"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            ./images/gallery/img-3_270.jpg 270w,
            ./images/gallery/img-3_330.jpg 330w,
            ./images/gallery/img-3_418.jpg 418w,
            ./images/gallery/img-3_540.jpg 540w,
            ./images/gallery/img-3_660.jpg 660w,
            ./images/gallery/img-3_836.jpg 836w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px,
              100vw"
          src="./images/gallery/img-3_418.jpg"
          alt="gallery"
          width="418"
          height="360"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          srcset="
            ./images/gallery/img-4_270.jpg 270w,
            ./images/gallery/img-4_330.jpg 330w,
            ./images/gallery/img-4_418.jpg 418w,
            ./images/gallery/img-4_540.jpg 540w,
            ./images/gallery/img-4_660.jpg 660w,
            ./images/gallery/img-4_836.jpg 836w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px,
              100vw"
          src="./images/gallery/img-4_418.jpg"
          alt="gallery"
          width="418"
          height="360"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
