<section class="hero">
    <div class="hero__container container">
        <h1 class="hero__title">ice cream made with passion</h1>
        <ul class="hero__buttons list">
            <li class="btn-item"><a class="hero__btn link" href="#products"
                    aria-label="link to product section">Products</a>
            </li>
            <li class="btn-item"><a class="hero__btn-made link" href="#about"
                    aria-label="link to section about making ice cream">How
                    it’s
                    made?</a></li>
        </ul>

        <p class="hero__details">
            Delicious ice cream! For every taste!
            And a lot of everything! Buy!
            Summer flavor, winter flavor!
        </p>
        <button class="hero__link-btn" type="button">
            <svg class="hero__icon-arrow" width="40" height="16">
                <use href="./images/icons.svg#icon-arrow-white"></use>
            </svg>
        </button>
        <picture class="hero1 hero__img">
            <source srcset="./images/hero/hero1-desk@1x.png 1x, ./images/hero/hero1-desk@2x.png 2x"
                media="(min-width: 1200px)" type="image/png" width="456" />

            <source srcset="./images/hero/hero1-tab@1x.png 1x, ./images/hero/hero1-tab@2x.png 2x"
                media="(min-width: 768px)" type="image/png" width="268" />

            <source srcset="./images/hero/hero1-mob@1x.png 1x, ./images/hero/hero1-mob@2x.png 2x"
                media="(min-width: 480px)" type="image/png" width="177" />

            <img class="slideInUp" src="./images/hero/mobile.png" alt="Animated ice cream image" />
        </picture>
        <picture class="hero2 hero__img">
            <source srcset="./images/hero/hero2-desk@1x.png 1x, ./images/hero/hero2-desk@2x.png 2x"
                media="(min-width: 1200px)" type="image/png" width="225" />

            <source srcset="./images/hero/hero2-tab@1x.png 1x, ./images/hero/hero2-tab@2x.png 2x"
                media="(min-width: 768px)" type="image/png" width="152" />

            <img class="slideOutLeft" src="./images/hero/mobile.png" alt="Animated ice cream image" />
        </picture>
        <div class="hero__content">
            <div class="hero__amount">
                <p class="hero__txt">16</p>
                <p class="hero__txt-caffe">cafes</p>
                <p class="hero__txt">23</p>
                <p class="hero__txt-caffe">food trucks</p>
            </div>
        </div>
    </div>
</section>