<!-- Hero section -->
<section class="hero">
  <div class="hero-container container">
    <div class="hero-left-side">
      <ul class="hero-media-list media-list list">
        <li class="media-item">
          <a class="media-link link" href="">Instagram</a>
        </li>
        <li class="media-item">
          <a class="media-link link" href="">Youtube</a>
        </li>
      </ul>
    </div>
    <div class="hero-right-side">
      <p class="hero-uppertitle uppertitle uppertitle-theme-dark">A hair salon for men in Kyiv</p>
      <h1 class="main-title">BarberShop</h1>
      <p class="hero-undertitle undertitle undertitle-theme-dark">
        We are experts in trendy men’s haircuts. We work quickly, carefully and with style.
      </p>
    </div>
    <ul class="slider-pagination list">
      <li class="slider-pagination-item active"></li>
      <li class="slider-pagination-item"></li>
      <li class="slider-pagination-item"></li>
    </ul>
    <ul class="slider-controls list">
      <li class="slider-item">
        <button class="slider-btn disable" type="button">Back</button>
      </li>
      <li class="slider-item">
        <button class="slider-btn" type="button">Forward</button>
      </li>
    </ul>
  </div>
</section>
