<div class="container">
  <!-- Элементы для вызова модальных окон, могут быть любые -->

  <!-- <a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a> -->
  <!-- <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a> -->
  <!-- <a href="#" class="js-open-modal" data-modal="3">Открыть окно 2</a> -->
  <!-- <a href="#" class="js-open-modal" data-modal="4">Открыть окно 2</a> -->
  <!-- <a href="#" class="js-open-modal" data-modal="5">Открыть окно 2</a> -->

  <!-- Несколько модальных окон -->

  <!-- PRODUCT MODAL -->
  <div class="product-modal modal" data-modal="1">
    <svg class="modal__cross js-modal-close" viewBox="0 0 32 32">
      <path
        d="M17.253 16l7.369-7.369c0.131-0.154 0.21-0.355 0.21-0.574 0-0.491-0.398-0.889-0.889-0.889-0.22 0-0.42 0.080-0.576 0.211l0.001-0.001-7.369 7.369-7.369-7.377c-0.164-0.18-0.399-0.292-0.661-0.292-0.493 0-0.893 0.4-0.893 0.893 0 0.261 0.112 0.496 0.291 0.659l0.001 0.001 7.379 7.369-7.379 7.369c-0.193 0.164-0.315 0.407-0.315 0.679 0 0.491 0.398 0.889 0.889 0.889 0.272 0 0.515-0.122 0.678-0.314l0.001-0.001 7.379-7.369 7.368 7.369c0.154 0.131 0.355 0.21 0.574 0.21 0.491 0 0.889-0.398 0.889-0.889 0-0.22-0.080-0.42-0.211-0.576l0.001 0.001-7.368-7.369z"
      ></path>
    </svg>
    <div>
      <h2 class="product-modal__title">Buy now</h2>
      <ul class="list product-list">
        <li>
          <button class="products__item products__ice-cream" type="button">
            <h3 class="products__title">ice cream</h3>
          </button>
        </li>
        <li>
          <button class="products__item products__ice-coffe" type="button" autofocus>
            <h3 class="products__title">ice coffee</h3>
          </button>
        </li>
        <li>
          <button class="products__item products__milkshake" type="button">
            <h3 class="products__title">milkshake</h3>
          </button>
        </li>
      </ul>
      <form>
        <ul class="list franchise-list">
          <li>
            <input class="franchise-list__input" type="text" placeholder="Name" autofocus />
          </li>
          <li>
            <input class="franchise-list__input" type="tel" placeholder="Phone" />
          </li>
        </ul>

        <textarea class="product-list__comment" placeholder="Comment"></textarea>
        <button class="franchise__btn" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <!-- INGREDIENTS MODAL -->
  <div class="modal-ingredients modal" data-modal="5">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" viewBox="0 0 32 32">
      <path
        d="M17.253 16l7.369-7.369c0.131-0.154 0.21-0.355 0.21-0.574 0-0.491-0.398-0.889-0.889-0.889-0.22 0-0.42 0.080-0.576 0.211l0.001-0.001-7.369 7.369-7.369-7.377c-0.164-0.18-0.399-0.292-0.661-0.292-0.493 0-0.893 0.4-0.893 0.893 0 0.261 0.112 0.496 0.291 0.659l0.001 0.001 7.379 7.369-7.379 7.369c-0.193 0.164-0.315 0.407-0.315 0.679 0 0.491 0.398 0.889 0.889 0.889 0.272 0 0.515-0.122 0.678-0.314l0.001-0.001 7.379-7.369 7.368 7.369c0.154 0.131 0.355 0.21 0.574 0.21 0.491 0 0.889-0.398 0.889-0.889 0-0.22-0.080-0.42-0.211-0.576l0.001 0.001-7.368-7.369z"
      ></path>
    </svg>
    <h2 class="modal-ingredients__title">Chololate icecream</h2>

    <div class="circle">
      <!-- <img
        class="modal-ingredients__image"
        src="./images/modal/info-prod-desk@1x.png"
        alt="Icecream in hand"
        width="132"
        height="132"
      /> -->
      <picture class="modal-ingredients__image">
        <source
          media="(min-width: 1200px)"
          srcset="./images/modal/info-prod-desk@1x.png 1x, ./images/modal/info-prod-desk@2x.png 2x"
          type="image/png"
        />
        <source
          media="(max-width: 1199px)"
          srcset="./images/modal/info-prod-mob@1x.png 1x, ./images/modal/info-prod-mob@2x.png 2x"
          type="image/png"
        />
        <img
          src="./images/modal/info-prod-mob@1x.png"
          alt="Icecream image"
          width="132"
          height="132"
        />
      </picture>
    </div>

    <ul class="modal-ingredients__nutrients nutrition-facts list">
      <li class="nutrition-facts__item">
        <span class="nutrition-facts__amount">320</span
        ><span class="nutrition-facts__value">kcal</span>
      </li>
      <li class="nutrition-facts__item">
        <span class="nutrition-facts__amount">4g</span
        ><span class="nutrition-facts__value">Prote...</span>
      </li>
      <li class="nutrition-facts__item">
        <span class="nutrition-facts__amount">8,2g</span
        ><span class="nutrition-facts__value">Fats</span>
      </li>
      <li class="nutrition-facts__item">
        <span class="nutrition-facts__amount">40,4g</span
        ><span class="nutrition-facts__value">Carbs</span>
      </li>
    </ul>

    <h3 class="modal-ingredients__subtitle">Ingredients</h3>
    <ul class="modal-ingredients__recipe recipe list">
      <li class="recipe__ingredient"><span>Milk</span><span>100ml</span></li>
      <li class="recipe__ingredient"><span>Belgian chocolate</span><span>20g</span></li>
      <li class="recipe__ingredient"><span>Cream</span><span>150 ml</span></li>
      <li class="recipe__ingredient"><span>Cocoa powder</span><span>30g</span></li>
      <li class="recipe__ingredient"><span>Sugar</span><span>40g</span></li>
      <li class="recipe__ingredient"><span>Vanilla sugar</span><span>10g</span></li>
    </ul>

    <form>
      <ul class="list franchise-list modal-ingredients__form-group">
        <li>
          <input class="modal-ingredients__input" type="text" placeholder="Name" />
        </li>
        <li>
          <input class="modal-ingredients__input" type="tel" placeholder="Phone" />
        </li>
      </ul>

      <textarea class="modal-ingredients__comment" placeholder="Comment"></textarea>
      <button class="modal-ingredients__btn" type="submit">Submit</button>
    </form>
  </div>

  <!-- ABOUT MODAL -->
  <div class="modal-about modal" data-modal="3">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" viewBox="0 0 32 32">
      <path
        d="M17.253 16l7.369-7.369c0.131-0.154 0.21-0.355 0.21-0.574 0-0.491-0.398-0.889-0.889-0.889-0.22 0-0.42 0.080-0.576 0.211l0.001-0.001-7.369 7.369-7.369-7.377c-0.164-0.18-0.399-0.292-0.661-0.292-0.493 0-0.893 0.4-0.893 0.893 0 0.261 0.112 0.496 0.291 0.659l0.001 0.001 7.379 7.369-7.379 7.369c-0.193 0.164-0.315 0.407-0.315 0.679 0 0.491 0.398 0.889 0.889 0.889 0.272 0 0.515-0.122 0.678-0.314l0.001-0.001 7.379-7.369 7.368 7.369c0.154 0.131 0.355 0.21 0.574 0.21 0.491 0 0.889-0.398 0.889-0.889 0-0.22-0.080-0.42-0.211-0.576l0.001 0.001-7.368-7.369z"
      ></path>
    </svg>
    <h2 class="modal-about__title">How it’s made?</h2>
    <!-- frameborder="0" -->
    <iframe
      class="modal-about_video"
      width="224"
      height="199"
      src="https://www.youtube.com/embed/w4qRrt3HwGg"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal-about__description">
      Ice cream is a delicacy that almost no person in the world will refuse, regardless of age,
      gender and nationality. Everyone loves him.
    </p>
  </div>

  <!-- OUR LOCATIONS (MAP) MODAL 4 -->
  <div class="modal-location modal" data-modal="4">
    <!--   Svg иконка для закрытия окна  -->
    <!-- <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
      />
    </svg> -->

    <svg class="modal__cross js-modal-close" viewBox="0 0 32 32">
      <path
        d="M17.253 16l7.369-7.369c0.131-0.154 0.21-0.355 0.21-0.574 0-0.491-0.398-0.889-0.889-0.889-0.22 0-0.42 0.080-0.576 0.211l0.001-0.001-7.369 7.369-7.369-7.377c-0.164-0.18-0.399-0.292-0.661-0.292-0.493 0-0.893 0.4-0.893 0.893 0 0.261 0.112 0.496 0.291 0.659l0.001 0.001 7.379 7.369-7.379 7.369c-0.193 0.164-0.315 0.407-0.315 0.679 0 0.491 0.398 0.889 0.889 0.889 0.272 0 0.515-0.122 0.678-0.314l0.001-0.001 7.379-7.369 7.368 7.369c0.154 0.131 0.355 0.21 0.574 0.21 0.491 0 0.889-0.398 0.889-0.889 0-0.22-0.080-0.42-0.211-0.576l0.001 0.001-7.368-7.369z"
      ></path>
    </svg>
    <h2 class="modal-location__title">Our Locations</h2>

    <iframe
      class="modal-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.793119616134!2d-87.78192918456439!3d41.703401579236406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2zMTAzNDAgUmlkZ2VsYW5kIEF2ZSwgQ2hpY2FnbyBSaWRnZSwgSUwgNjA0MTUsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1671293920612!5m2!1suk!2sua"
      width="224"
      height="199"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>

    <a class="modal-link link" href="https://goo.gl/maps/tnrnvPAMrcTUtLnd8">Open map</a>
  </div>

  <!-- FRANCHIES MODAL -->
  <div class="franchies-modal modal" data-modal="2">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" viewBox="0 0 32 32">
      <path
        d="M17.253 16l7.369-7.369c0.131-0.154 0.21-0.355 0.21-0.574 0-0.491-0.398-0.889-0.889-0.889-0.22 0-0.42 0.080-0.576 0.211l0.001-0.001-7.369 7.369-7.369-7.377c-0.164-0.18-0.399-0.292-0.661-0.292-0.493 0-0.893 0.4-0.893 0.893 0 0.261 0.112 0.496 0.291 0.659l0.001 0.001 7.379 7.369-7.379 7.369c-0.193 0.164-0.315 0.407-0.315 0.679 0 0.491 0.398 0.889 0.889 0.889 0.272 0 0.515-0.122 0.678-0.314l0.001-0.001 7.379-7.369 7.368 7.369c0.154 0.131 0.355 0.21 0.574 0.21 0.491 0 0.889-0.398 0.889-0.889 0-0.22-0.080-0.42-0.211-0.576l0.001 0.001-7.368-7.369z"
      ></path>
    </svg>
    <h2 class="franchise__title form-title">
      Thank you for your interest in owning an Ice Cream shop
    </h2>
    <p class="modal__text">
      Due to the overwhelming volume of franchise requests we are not accepting new franchisee
      applications at this time. Once the application process resumes, we will contact you for
      further information. Please fill out the contact information below and we will reach out for
      additional information. We appreciate your patience.
    </p>
    <form>
      <ul class="list">
        <li>
          <input class="franchise-list__input modal__input" type="text" placeholder="Name" />
        </li>
        <li>
          <input class="franchise-list__input modal__input" type="tel" placeholder="Phone" />
        </li>
        <li>
          <input class="franchise-list__input modal__input" type="email" placeholder="Email" />
        </li>
      </ul>

      <textarea class="franchise-list__comment form__textarea" placeholder="Comment"></textarea>
      <button class="franchise__btn form__btn" type="submit">Submit</button>
    </form>
  </div>

  <!-- Подложка под модальным окном -->
  <div class="overlay js-overlay-modal"></div>
</div>
