<!-- Price section -->
<section class="price" id="price">
  <div class="container">
    <p class="uppertitle uppertitle-theme-dark">spend your time with the best masters</p>
    <h2 class="title title-theme-dark">Services and prices</h2>
    <div class="price-block">
      <ul class="price-list list">
        <li class="price-item"><span class="price-service">Men’s haircut</span> from 300 uah.</li>
        <li class="price-item"><span class="price-service">Beard trim</span> from 300 uah.</li>
        <li class="price-item"><span class="price-service">Mustache trim</span> from 200 uah.</li>
        <li class="price-item">
          <span class="price-service">Straight razor shave</span> from 200 uah.
        </li>
      </ul>
      <ul class="price-list list">
        <li class="price-item">
          <span class="price-service">Trainee’s haircut</span> from 50 uah.
        </li>
        <li class="price-item">
          <span class="price-service">Haircut under the nozzle</span> from 200 uah.
        </li>
        <li class="price-item">
          <span class="price-service">Children’s haircut (0-12 y.o.)</span>
          from 300 uah.
        </li>
        <li class="price-item">
          <span class="price-service">Camouflage of gray hair</span> from 200 uah.
        </li>
      </ul>
    </div>
    <button class="price-btn btn btn--theme-dark" type="button">online-booking</button>
  </div>
</section>
