<!-- Products section -->
<section class="products">
<div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="menu products__menu list">
        <li class="element menu__element ice-cream">
            <h3 class="element__title">ice cream</h3>
            <p class="element__description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
            <!-- <button class="btn element__btn">
                <svg class="btn__icon">
                    <use></use>
                </svg>
            </button> -->
        </li>
        <li class="element menu__element ice-coffee">
            <h3 class="element__title">ice coffee</h3>
            <p class="element__description">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
            <!-- <button class="btn element__btn">
                <svg class="btn__icon">
                    <use></use>
                </svg>
            </button> -->
        </li>
        <li class="element menu__element milkshakes">
            <h3 class="element__title">milkshakes</h3>
            <p class="element__description">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
            <!-- <button class="btn element__btn">
                <svg class="btn__icon">
                    <use></use>
                </svg>
            </button> -->
        </li>
    </ul>
</div>
</section>
