<!-- Team section -->
<section class="team" id="team">
  <div class="container">
    <p class="uppertitle">for true enjoyers of the atmosphere</p>
    <h2 class="title">Our barbers</h2>
    <ul class="team-list list">
      <li class="team-item">
        <div class="team-thumb">
          <!-- <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/team/img1_lg@1x.webp 1x, ./images/team/img1_lg@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/team/img1_lg@1x.jpg 1x, ./images/team/img1_lg@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/team/img1_md@1x.webp 1x, ./images/team/img1_md@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/team/img1_md@1x.jpg 1x, ./images/team/img1_md@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/team/img1_sm@1x.webp 1x, ./images/team/img1_sm@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/team/img1_sm@1x.jpg 1x, ./images/team/img1_sm@2x.jpg 2x"
              type="image/jpg"
            />
            <img
              class="team-avatar"
              src="./images/team/team-1.jpg"
              alt="John Smith"
              width="450"
              height="346"
            />
          </picture> -->
          <div class="overlay">
            <p class="overlay-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facilis accusantium
              eaque ab, aut eligendi adipisci. At assumenda fugit eum!
            </p>
          </div>
        </div>
        <div class="team-wrapper">
          <h3 class="team-name">John Smith</h3>
          <p class="team-position">Extreme Barber</p>
          <ul class="socials list">
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://instagram.com"
                target="_blank"
                rel="nofollow noopener noreferrer"
                aria-label="Instagram icon"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://twitter.com"
                aria-label="Twitter icon"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://facebook.com"
                aria-label="Facebook icon"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://linkedin.com"
                aria-label="LinkedIn icon"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <!-- <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./images/team/img2_lg@1x.webp 1x, ./images/team/img2_lg@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="./images/team/img2_lg@1x.jpg 1x, ./images/team/img2_lg@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/team/img2_md@1x.webp 1x, ./images/team/img2_md@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/team/img2_md@1x.jpg 1x, ./images/team/img2_md@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/team/img2_sm@1x.webp 1x, ./images/team/img2_sm@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/team/img2_sm@1x.jpg 1x, ./images/team/img2_sm@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="team-avatar"
            src="./images/team/img2_md@1x.jpg"
            alt="Michele Doe"
            width="450"
            height="346"
          />
        </picture> -->
        <div class="team-wrapper">
          <h3 class="team-name">Michele Doe</h3>
          <p class="team-position">Extreme Barber</p>
          <ul class="socials list">
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://instagram.com"
                target="_blank"
                rel="nofollow noopener noreferrer"
                aria-label="Instagram"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://twitter.com"
                aria-label="Twitter"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://facebook.com"
                aria-label="Facebook"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://linkedin.com"
                aria-label="LinkedIn"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <!-- <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./images/team/img3_lg@1x.webp 1x, ./images/team/img3_lg@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="./images/team/img3_lg@1x.jpg 1x, ./images/team/img3_lg@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/team/img3_md@1x.webp 1x, ./images/team/img3_md@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/team/img3_md@1x.jpg 1x, ./images/team/img3_md@2x.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/team/img3_sm@1x.webp 1x, ./images/team/img3_sm@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/team/img3_sm@1x.jpg 1x, ./images/team/img3_sm@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="team-avatar"
            src="./images/team/img3_md@1x.jpg"
            alt="Alan Black"
            width="450"
            height="346"
          />
        </picture> -->
        <div class="team-wrapper">
          <h3 class="team-name">Alan Black</h3>
          <p class="team-position">Extreme Barber</p>
          <ul class="socials list">
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://instagram.com"
                target="_blank"
                rel="nofollow noopener noreferrer"
                aria-label="Instagram"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://twitter.com"
                aria-label="Twitter"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://facebook.com"
                aria-label="Facebook"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-item">
              <a
                class="socials-link link"
                href="https://linkedin.com"
                aria-label="LinkedIn"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg class="socials-icon" width="20" height="20">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
