.about {
  @include section(60px, 60px);
  background-color: var(--bg-cl);
}

.about__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;

  @include fonts(18px, 22px, 700);
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    @include fonts(22px, 27px, 800, 0.04em);
  }

  @media screen and (min-width: $desktop) {
    @include fonts(30px, 37px, 800, 0.04em);
  }
}

.about__title {
  margin: 12px auto 54px;

  @include fonts(30px, 38px, 400, 0.04em);
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  width: 210px;

  @media screen and (min-width: $tablet) {
    @include fonts(34px, 43px, 400, 0.06em);
    width: 456px;
    margin: 12px auto 98px;
  }

  @media screen and (min-width: $desktop) {
    @include fonts(36px, 45px, 400, 0.06em);
    width: 483px;
    margin: 12px auto 84px;
  }
}

.about__wrapper {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.about__img {
  border-radius: 50%;
  box-shadow: 0 -22px rgba(248, 210, 78, 0.7);

  @media screen and (max-width: 767px) {
    max-width: 279px;
    margin: 0 auto 40px;
  }

  @media screen and (min-width: $tablet) {
    @include fonts(30px, 37px, 800, 0.04em);
    max-width: 330px;
    margin-right: 38px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    @include fonts(30px, 37px, 800, 0.04em);
    max-width: 491px;
    margin-right: 109px;
  }
}

.about__text-container {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
}

.about__text {
  @include fonts(12px, 21px, 400, 0.04em);
  max-width: 220px;
  text-align: center;
  margin: 0 auto 4px;

  @media screen and (max-width: 767px) {
    &:nth-child(2) {
      margin-bottom: 0;
    }
    &--mobile {
      display: none;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 0 0 8px;
    max-width: 336px;
    text-align: left;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    @include fonts(14px, 27px, 400, 0.04em);
    max-width: 463px;

    &:nth-child(1) {
      @include fonts(16px, 28px, 400, 0.04em);
      max-width: 463px;
    }
  }
}

.about__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 164px;
  padding: 12px 0;
  margin: 10px auto 0;

  @include fonts(14px, 18px, 600);
  color: var(--btn-txt-cl);
  background: #f8d24e;
  border-radius: 10px;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-cl);
  }

  &:focus {
    background-color: var(--btn-hover-cl);
    color: var(--btn-txt-focus-cl);
  }

  &:disabled {
    color: var(--btn-disabled-cl);
  }

  @media screen and (min-width: $tablet) {
    margin: 32px 0 0;
  }

  @media screen and (min-width: $desktop) {
    align-items: left;
    margin: 54px 0 0;
  }
}

.about__button-icon {
  fill: currentColor;
}
