.advantages {
  @include section(0, 64px);
  background-color: var(--bg-cl);
}

.advantages__list {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 80px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: space-around;
  }
}

.advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 676px) {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}

.advantages__icons {
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.advantages__info {
  position: relative;
  margin-top: 70px;
  margin-bottom: 16px;

  @include fonts(36px, 44px, 700, 0.04em);

  &--cow::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/cow-advantage-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -160%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &--weight::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/weight-advantage-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -160%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &--icecream::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/ice-advantage-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -160%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 12px;
    @include fonts(48px, 58px, 700, 0.04em);

    &--cow::before {
      top: -120%;
    }

    &--weight::before {
      top: -120%;
    }

    &--icecream::before {
      top: -120%;
    }
  }

  @media screen and (min-width: $desktop) {
    @include fonts(58px, 70px, 700, 0.04em);

    &--cow::before {
      top: -100%;
    }

    &--weight::before {
      top: -100%;
    }

    &--icecream::before {
      top: -100%;
    }
  }
}

.advantages__text {
  max-width: 230px;
  @include fonts(12px, 20px, 700);

  @media screen and (min-width: $tablet) {
    @include fonts(14px, 24px, 400);
    max-width: 152px;
  }

  @media screen and (min-width: $desktop) {
    @include fonts(16px, 28px);
    max-width: 280px;
  }
}
