.advantages {
  @include section(0, 64px);
  background-color: var(--bg-cl);
}

.advantages__list {
  text-align: center;
}

.advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advantages__icons {
  margin-bottom: 16px;
}

.advantages__info {
  margin-bottom: 16px;

  @include fonts(36px, 44px, 700, 0.04em);
}

.advantages__text {
  max-width: 230px;
  @include fonts(12px, 20px, 700);
}

.advantages__item:not(:last-child) {
  margin-bottom: 28px;
}
