.container {
  margin: 0 auto;
  padding: 0 16px;

  // phone screen
  @include mq(phone) {
    width: 480px;
  }

  // tablet screen
  @include mq(tablet) {
    width: 768px;
  }

  // desktop screen
  @include mq(desktop) {
    width: 1200px;
  }
}
