.contacts {
  background-color: var(--icon-cl);
  @media screem and(min-width:$mobile) {
    display: block;
  }

  &_container {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
    }
  }
  &_office {
    background-color: var(--main-txt-cl);
    border-radius: 24px;
    @media screen and (max-width: 767px) {
      width: 280px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 16px;
      padding-top: 40px;
      padding-left: 32px;
      padding-bottom: 24px;
      padding-right: 58px;
    }
    @media screen and (min-width: $tablet) {
      width: 224px;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 24px;
      padding-right: 27px;
    }
    @media screen and(min-width:$desktop) {
      width: 368px;
      padding-top: 40px;
      padding-left: 40px;
      padding-bottom: 40px;
      padding-right: 66px;
    }
  }
  &_list {
    list-style: none;
    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
      padding-right: 24px;
    }
  }

  &_category {
    display: inline;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 4px 22px;

    color: var(--accent-txt-cl);
    background-color: var(--btn-cl);
    border-radius: 4px;
  }
  &_city {
    color: var(--accent-txt-cl);
    list-style: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
    margin-top: 20px;
  }
  &_full-address {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: var(--bg-cl-3);
    list-style: none;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  &_full-address::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--border-cl);
    border-radius: 2px;
    @media screen and (max-width: 767px) {
      width: 216px;
    }
    @media screen and (min-width: $tablet) {
      width: 176px;
    }
  }

  &_work-week {
    list-style: none;
    padding-left: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
  }
  &_weekend {
    position: relative;
    list-style: none;
    padding-left: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  &_weekend::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--border-cl);
    border-radius: 2px;
    @media screen and (max-width: 767px) {
      width: 216px;
    }
    @media screen and (min-width: $tablet) {
      width: 176px;
    }
  }

  &_day {
    color: var(--accent-txt-cl);
    padding-left: 0;
  }

  &_hour {
    color: var(--btn-disabled-cl);
    padding-left: 0;
  }

  &_knob {
    @media screen and (max-width: 767px) {
      text-align: center;
      margin-top: 20px;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: end;
    }
  }
  .js-open-modal {
    margin-left: auto;
    margin-right: auto;
    width: 196px;
    background-color: var(--btn-cl);
    padding-top: 12px;
    padding-bottom: 12px;
    @media screen and (min-width: $tablet) {
      margin-right: 16px;
    }
  }
  &_button {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    background-color: var(--icon-cl);
    width: 196px;
    margin-top: 8px;
    border: 1px solid var(--btn-cl);
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &_contacts {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: var(--accent-txt-cl);
    list-style: none;
    margin-bottom: 6px;
  }
  &_tel {
    list-style: none;
  }
}
