.footer-page {
  background: var(--bg-cl);
  padding-bottom: 20px;
}
.footer-page__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
  }
  @include mq(desktop) {
    padding-bottom: 60px;
    align-items: baseline;
  }
}

.footer-page__title {
  margin-bottom: 60px;
  width: 234px;

  @include mq(tablet) {
    margin-bottom: 32px;
    width: 352px;
  }
  @include mq(desktop) {
    margin-bottom: 60px;
    width: 510px;
  }
}
.footer-page__title--first {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--modal-bg-cl);
  margin-bottom: 16px;

  @include mq(tablet) {
    margin-bottom: 8px;
    font-size: 26px;
    line-height: calc(32 / 26);
    letter-spacing: 0.04em;
  }

  @include mq(desktop) {
    font-weight: 400;
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: 0.04;
    margin-bottom: 14px;
  }
}

.footer-page__title--second {
  font-weight: 700;
  font-size: 34px;
  line-height: calc(41 / 34);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-txt-cl);

  @include mq(tablet) {
    font-size: 48px;
    line-height: calc(59 / 48);
    letter-spacing: 0.06em;
  }

  @include mq(desktop) {
    font-size: 58px;
    line-height: calc(71 / 58);
    letter-spacing: 0.06em;
  }
}

.footer-contacts {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.socials {
  gap: 20px;
  display: flex;

  .socials__list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    gap: 20px;
  }

  @include mq(tablet) {
    gap: 30px;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--btn-cl);
  border-radius: 50%;
  fill: #84a178;

  .socials__link:hover,
  .socials__link:focus {
    fill: currentColor;
    color: var(--main-txt-cl);
  }
}

.contact-box__title {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #131313;
  justify-content: center;
  text-align: center;
  display: flex;
}

.contacts-box__number {
  color: var(--btn-txt-focus-cl);
  display: block;
}

.footer-copiright {
  @include mq(desktop) {
    border-top: 1px solid #e1e1e1;
    font-weight: 700;
  }
}
.footer-copiright__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: #7a7a7a;
  width: 150px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  @include mq(tablet) {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    letter-spacing: 0.02em;
    width: 298px;
  }
}
