.footer-page {
  background: var(--bg-cl);
}

.footer-page__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @include mq(desktop) {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
  }
}

.footer-page__container {
  @include mq(desktop) {
    border-bottom: 1px solid #e1e1e1;
  }
}
.footer-page__title {
  // margin-bottom: 60px;
  width: 234px;

  @include mq(tablet) {
    margin-bottom: 32px;
    width: 352px;
  }
  @include mq(desktop) {
    margin-bottom: 60px;
    width: 510px;
  }
}
.footer-page__title--first {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--modal-bg-cl);
  margin-bottom: 16px;

  @include mq(tablet) {
    margin-bottom: 8px;
    font-size: 26px;
    line-height: calc(32 / 26);
    letter-spacing: 0.04em;
    justify-content: space-between;
    display: flex;
  }

  @include mq(desktop) {
    font-weight: 400;
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: 0.04;
    margin-bottom: 14px;
    justify-content: baseline;
  }
}

.footer-page__title--second {
  font-weight: 700;
  font-size: 34px;
  line-height: calc(41 / 34);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-txt-cl);

  @include mq(tablet) {
    font-size: 48px;
    line-height: calc(59 / 48);
    letter-spacing: 0.06em;
  }

  @include mq(desktop) {
    font-size: 58px;
    line-height: calc(71 / 58);
    letter-spacing: 0.06em;
  }
}

.footer-contacts {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.socials {
  display: flex;

  .socials__list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    gap: 20px;
  }

  @include mq(tablet) {
    gap: 30px;
    margin-bottom: 34px;
  }
  @include mq(desktop) {
    margin-bottom: 40px;
    gap: 30px;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--btn-cl);
  border-radius: 50%;
  fill: var(--icon-cl);

  transition: fill 250ms ease-in-out;
}
.socials__link:hover,
.socials__link:focus {
  fill: #fcfcfc;
}
// .socials__icon {
//   fill: currentColor;
// }

.contact-box {
  display: flex;
  justify-content: end;
}
.contact-box__title {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.02em;
  color: #131313;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 4px;

  @include mq(tablet) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include mq(desktop) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contact-box__number {
  font-weight: 700;
  color: var(--btn-txt-focus-cl);
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.02em;
  // display: block;
  @include mq(tablet) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include mq(desktop) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.footer-copyright {
  @media screen and (max-width: 1199px) {
    border-top: 1px solid #e1e1e1;
    width: 100%;
  }
}

.footer-copyright__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: #7a7a7a;
  // max-width: 150px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  padding-top: 20px;

  @include mq(tablet) {
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;
  }
  @include mq(desktop) {
    font-weight: 700;
    font-size: 12px;
    line-height: calc(22 / 12);
    letter-spacing: 0.02em;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
