// GALLERY GENERAL STYLES
.cf {
  position: relative;
}
.gallery {
  // 178px
  @include section(0px, 40px);
  background-image: linear-gradient(to bottom, var(--icon-cl) 5%, #fff0 5% 100%);

  // 283px
  @media screen and (min-width: $tablet) {
    @include section(0px, 80px);
    background-image: linear-gradient(to bottom, var(--icon-cl) 18%, #fff0 18% 100%);
  }
  // 464px
  @media screen and (min-width: $desktop) {
    @include section(0px, 100px);
    background-image: linear-gradient(to bottom, var(--icon-cl) 11%, #fff0 11% 100%);
  }
}
.gallery-container {
  @media screen and (min-width: $desktop) {
    padding-left: 93px;
    padding-right: 93px;
  }
}
// ------- ANIMATION SLIDER
.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    border-radius: 18px;
  }
  @media screen and (min-width: $desktop) {
    border-radius: 24px;
  }
}

/* Adds animation when hovering. */
.img-first {
  animation-name: imgfirstshow;
  animation-duration: 6000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes imgfirstshow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.img-second {
  animation-name: imgsecondshow;
  animation-duration: 6000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes imgsecondshow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.img-third {
  animation-name: imgthirdshow;
  animation-duration: 6000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes imgthirdshow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// -------------- SLIDER

.swiper {
  width: 100%;
  padding-top: 210px;

  // margin-top: 80px;
  // height: 300px;
  // background-color: var(--slider-cl);
  @media screen and (min-width: $tablet) {
    // margin-top: 100px;
    padding-top: 427px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 968px;
    // margin-top: 140px;
    padding-top: 562px;
  }
}
.swiper-pagination-bullet-active {
  background-color: var(--slider-cl);
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  color: var(--slider-sec-cl);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 9px;
  margin-right: 9px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: url(../images/cursor.png), auto;
}
// slider info

.reviewer-photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.review {
  text-align: center;
  margin-bottom: 32px;
  @include section(35px, 35px);

  padding-left: 39px;
  padding-right: 39px;

  background-color: var(--slider-cl);
  border-radius: 10px;

  @include fonts(12px, 31px, 400, 0.02em);

  @media screen and (min-width: $tablet) {
    @include section(28px, 28px);

    padding-left: 80px;
    padding-right: 80px;

    border-radius: 24px;

    @include fonts(14px, 26px, 500, 0.04em);
  }
  @media screen and (min-width: $desktop) {
    @include section(43px, 43px);

    padding-left: 109px;
    padding-right: 109px;

    @include fonts(16px, 30px, 500, 0.04em);
  }
}

.reviewer {
  color: var(--accent-txt-cl);
  text-align: center;
  margin-bottom: 32px;
  @include fonts(20px, 37px, 500, 0.02em);

  @media screen and (min-width: $tablet) {
    @include fonts(16px, 30px, 500, 0.02em);
  }

  @media screen and (min-width: $desktop) {
    @include fonts(16px, 30px, 500, 0.02em);
  }
}
