.hero {
  background-color: var(--bg-cl);
}
.hero__container {
  position: relative;
  padding-top: 99px;
  max-width: 100%;
  height: 502px;
  background-image: url(../images/hero/dots-mob.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  @include mq(tablet) {
    height: 415px;
    padding-top: 80px;
    background-image: url(../images/hero/dots-tab.svg);
  }
  @include mq(desktop) {
    height: 664px;
    padding-top: 118px;
    background-image: url(../images/hero/dots-desk.svg);
  }
  animation-name: slide-in-fwd-right;
  animation: slide-in-fwd-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.hero__title {
  width: 247px;
  margin-bottom: 32px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
  @include mq(tablet) {
    margin-bottom: 24px;
  }
  @include mq(desktop) {
    margin-bottom: 28px;
    width: 367px;
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}
.hero__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 39px;
}
.hero__btn {
  width: 108px;
  height: 38px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--btn-cl);
  border-radius: 8px;
  text-decoration: none;

  background-color: var(--icon-cl);
  transition: border-color 250ms ease-in-out;
  color: var(--btn-txt-cl);
  &:hover {
    border-color: var(--btn-hover-cl);
  }
  @include mq(desktop) {
    width: 134px;
    height: 42px;
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
.hero__btn-made {
  margin-left: 12px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  border: none;
  background-color: var(--icon-cl);
  transition: color 250ms ease-in-out;
  color: var(--btn-cl);
  &:hover {
    color: var(--btn-hover-cl);
  }
  &:focus {
    color: var(--main-txt-cl);
  }
  &:disabled {
    color: var(--btn-disabled-cl);
  }
  @include mq(desktop) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.hero1 {
  position: absolute;
  bottom: 0;
  left: 26%;
  background-color: transparent;
  width: 177px;
  @include mq(tablet) {
    width: 268px;
    left: 53%;
  }
  @include mq(desktop) {
    width: 456px;
    bottom: 0;
    left: 652px;
  }
}
.slideInUp {
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.slideOutLeft {
  animation-name: slideOutLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.hero2 {
  display: none;
  position: absolute;
  background-color: transparent;
  @include mq(tablet) {
    display: block;
    width: 152px;
    left: 32px;
    bottom: 12px;
  }
  @include mq(desktop) {
    width: 225px;
    bottom: 65px;
    left: 16px;
  }
}
.hero__details {
  position: absolute;
  bottom: 52px;
  width: 139px;
  margin-left: 216px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);

  color: var(--main-txt-cl);
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include mq(desktop) {
    bottom: 143px;
    width: 200px;
    margin-left: 237px;
    font-size: 14px;
    line-height: calc(20 / 14);
  }
}

.hero__link-btn {
  color: var(--main-txt-cl);
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  margin-left: 210px;
  bottom: 24px;
  background-color: transparent;
  transition: color 250ms ease-in-out;
  @include mq(desktop) {
    margin-left: 231px;
    bottom: 103px;
  }
}
.hero__icon-arrow {
  fill: var(--main-txt-cl);
  transition: fill 250ms ease-in-out;
}
.hero__icon-arrow:hover,
.hero__icon-arrow:focus {
  fill: var(--btn-cl);
}

.hero__content {
  position: absolute;
  top: 94px;
  right: 32px;
  display: flex;
  justify-content: flex-end;
  @include mq(desktop) {
    bottom: 795px;
  }
}
.hero__txt {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 28px;
  line-height: calc(34 / 28);
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: var(--accent-txt-cl);
  @include mq(desktop) {
    font-weight: 900;
    font-size: 46px;
    line-height: calc(46 / 56);
    letter-spacing: 0.04em;
  }
}
.hero__txt-caffe {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 8px;
  line-height: calc(8 / 10);
  text-align: right;
  color: var(--main-txt-cl);
  margin-bottom: 20px;
  @include mq(desktop) {
    font-size: 14px;
    line-height: calc(14 / 17);
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
.hero__amount {
  display: none;
  @include mq(tablet) {
    display: block;
  }
}
