.menu-toggle {
  display: flex;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  fill: var(--btn-txt-focus-cl);
}
@media (min-width: 1199px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // z-index: 5;
  z-index: 4;
  background-color: var(--menu-bg-cl);
  transform: translateX(105%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;

  @include mq(tablet) {
    top: 32px;
    right: 32px;
  }
}

.logo-img {
  position: fixed;
  top: 12px;
  left: 32px;
}

.mobile-menu {
  padding-top: 100px;
  margin-bottom: 110px;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding-top: 140px;
  }

  &__item {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39 / 32);

    color: var(--modal-bg-cl);
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 32);
  }

  @media screen and (max-width: 767px) {
    .mobile-menu__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    .mobile-menu__item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__link:hover,
  &__link:focus {
    transition: color 250ms ease-in-out;
    color: var(--accent-txt-cl);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 12px 35px 12px 36px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 12);
    border: none;
    transition: background-color 250ms ease-in-out;
    color: var(--btn-txt-cl);
    background: var(--btn-cl);
    border-radius: 10px;
    @media screen and (min-width: 768px) {
      display: none;
    }
    &:hover {
      color: var(--btn-txt-cl);
      background-color: var(--btn-hover-cl);
    }
    &:focus {
      color: var(--btn-txt-focus-cl);
      background-color: var(--btn-hover-cl);
    }
    &:disabled {
      color: var(--btn-txt-cl);
      border-color: var(--btn-disabled-cl);
    }
  }
}
.mobile-menu__icon {
  fill: currentColor;
  margin-left: 4px;
}
.mobile-menu__btn .mobile-menu__icon:focus {
  fill: var(--btn-txt-focus-cl);
}
