.menu-toggle {
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  fill: #ffffff;

  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 110vw;
  height: 114vh;
  z-index: 999;
  background-color: #85a279;
  transform: translateX(105%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;

  @include mq(tablet) {
    top: 32px;
    right: 32px;
  }
}

.logo-img {
  position: fixed;
  top: 12px;
  left: 32px;
}

.mobile-menu {
  padding-top: 100px;
  margin-bottom: 110px;
  text-align: center;

  &__item {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39 / 32);

    color: #fcfcfc;
  }

  @media screen and (max-width: 767px) {
    .mobile-menu__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link--current {
    transition: color 250ms ease-in-out;
    color: #131313;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 12px 35px 12px 36px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 12);
    border: none;
    transition: background-color 250ms ease-in-out;
    color: #000000;
    background: #f8d24e;
    border-radius: 10px;
    &:hover {
      color: #000000;
      background-color: #0a8817;
    }
    &:focus {
      color: #ffffff;
      background-color: #0a8817;
    }
    &:disabled {
      color: #000000;
      border-color: #ababab;
    }
  }
  &__icon {
    fill: #000000;
    margin-left: 4px;
  }
  &:focus {
    fill: #ffffff;
  }
}
