/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  // було 500px
  max-width: 568px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
  fill: #444;
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
a.js-open-modal {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: var(--btn-cl);
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}
textarea {
  resize: none;
}

// .backdrop {
//   @media screen and (max-width: 479px) {
//     padding: 20px;
//   }

//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 1;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   background-color: rgba(0, 0, 0, 0.2);
//   overflow-y: scroll;
// }

// .backdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.franchies-modal {
  height: 100vh;

  @media screen and (min-width: 768px) {
    min-width: 568px;
    // min-height: 668px;
    padding: 30px 60px;
  }
  @media screen and (min-width: 480px) {
    width: 280px;
    // height: 674px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%) scale(1);
  }
  // background-color: white;
  // border: 2px solid #f8d24e;
  padding: 29px 30px;

  @include mq(tablet) {
    height: 678px;
  }
}

.franchise__title {
  @media screen and (min-width: 768px) {
    max-width: 322px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: calc(28 / 20);
  }

  display: block;
  margin-bottom: 20px;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;

  color: #131313;
}

.modal__text {
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(22 / 16);
    margin-bottom: 32px;
  }

  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);

  color: #131313;
}

.franchise-list__input {
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 368px;
    height: 42px;
    padding-left: 16px;
  }
  width: 100%;
  height: 32px;
  margin-bottom: 12px;
  padding-left: 12px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.franchise-list__input::placeholder {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);

  color: #131313;
}

.franchise-list__comment {
  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-top: 11px;
  }
  width: 100%;
  height: 64px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  padding-left: 12px;
  padding-top: 8px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid var(--bg-cl);
    outline: var(--bg-cl);
  }
}

.franchise-list__comment::placeholder {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  color: #131313;
}

.franchise__btn {
  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
  display: block;
  margin: 0 auto;
  padding: 12px 34px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);

  color: #131313;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-cl);
  }
  &:focus {
    background-color: var(--btn-hover-cl);
    color: var(--btn-txt-focus-cl);
  }
  &disabled {
    background-color: var(--btn-disabled-cl);
  }
}

// MAIIA / Modal 2 INGREDIENTS modal

.modal-ingredients {
  overflow: auto;
  height: 100vh;
  color: var(--accent-txt-cl);

  @include mq(tablet, max) {
    padding: 28px 20px;
    max-width: 280px;
  }
  @media screen and (min-width: $tablet) {
    padding: 32px 40px;
    max-width: 568px;
  }

  @include mq(tablet) {
    max-height: 1002px;
  }
}

.modal-ingredients__title {
  font-family: var(--secondary-font);
  @include fonts(20px, 28px, 400);
  align-items: center;
  text-align: center;

  @include mq(tablet, max) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 24px;
  }
}
.circle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: rgba(156, 190, 143, 0.7);

  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  @include mq(tablet, max) {
    margin-bottom: 22px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 25px;
  }
}
.modal-ingredients__image {
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  bottom: 7px;
  left: 0;
}

.nutrition-facts {
  font-family: var(--main-font);
  font-style: normal;
  display: flex;
  justify-content: center;

  @include mq(tablet, max) {
    gap: 9px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: $tablet) {
    gap: 20px;
    margin-bottom: 48px;
  }

  &__item {
    border: 2px solid #9cbe8f;
    border-radius: 40px;

    @include mq(tablet, max) {
      width: 53px;
      height: 72px;
    }
    @media screen and (min-width: $tablet) {
      width: 65px;
      height: 90px;
    }
  }

  &__amount {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    margin-top: -1px;
    margin-bottom: 8px;

    border-radius: 50%;
    background-color: #9cbe8f;
    border: 2px solid #9cbe8f;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

    @include mq(tablet, max) {
      width: 43px;
      height: 43px;

      @include fonts(10px, 28px, 500);
    }
    @media screen and (min-width: $tablet) {
      width: 53px;
      height: 53px;

      @include fonts(12px, 28px, 500);
    }
  }

  &__value {
    display: flex;
    justify-content: center;

    @include mq(tablet, max) {
      @include fonts(10px, 12px, 400);
    }
    @media screen and (min-width: $tablet) {
      @include fonts(12px, 15px, 400);
    }
  }
}

.modal-ingredients__subtitle {
  @include fonts(20px, 28px, 500);
  align-items: center;
  text-align: center;

  margin-bottom: 24px;
}
.recipe {
  @include fonts(14px, 24.64px, 400, 0.04);

  @include mq(tablet, max) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 48px;
  }
}
.recipe__ingredient {
  display: flex;
  justify-content: space-between;
}
.recipe__ingredient:not(:last-child) {
  margin-bottom: 11px;
}

.modal-ingredients__input {
  height: 42px;
  padding: 11px 10px;
  margin-bottom: 16px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  @include mq(tablet, max) {
    width: 240px;
  }
  @media screen and (min-width: $tablet) {
    width: 368px;
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid var(--bg-cl);
    outline: var(--bg-cl);
  }
}

.modal-ingredients__input::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  color: var(--accent-txt-cl);
  @include fonts(14px, 19.6px, 400);
}

.modal-ingredients__comment {
  height: 84px;
  padding: 11px 10px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  @include mq(tablet, max) {
    width: 240px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: $tablet) {
    width: 368px;
    margin-bottom: 32px;
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid var(--bg-cl);
    outline: var(--bg-cl);
  }
}

.modal-ingredients__comment::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  color: var(--accent-txt-cl);
  @include fonts(14px, 19.6px, 400);
}

.modal-ingredients__btn {
  font-family: 'Montserrat';
  font-style: normal;
  color: var(--accent-txt-cl);
  @include fonts(14px, 17px, 600);

  display: block;
  margin: 0 auto;
  padding: 12px 34px;

  background-color: var(--btn-cl);
  border-radius: 10px;
  border: none;

  @include mq(tablet, max) {
    width: 121px;
  }

  @media screen and (min-width: $tablet) {
    width: 132px;
  }
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-cl);
  }
  &:focus {
    background-color: var(--btn-hover-cl);
    color: var(--btn-txt-focus-cl);
  }
  &disabled {
    background-color: var(--btn-disabled-cl);
  }
}
// MAIIA / Modal 3 VIDEO modal

.modal-about {
  @include section(26px, 26px);
  padding-left: 26px;
  padding-right: 26px;

  max-width: 280px;

  @media screen and (min-width: $tablet) {
    max-width: 568px;
  }

  @media screen and (min-width: $desktop) {
    @include section(32px, 32px);

    padding-left: 58px;
    padding-right: 58px;
  }
}
.modal-about__description {
  @include fonts(14px, 20px, 400, 0.02em);
  text-align: initial;
  color: var(--accent-txt-cl);

  @media screen and (min-width: $desktop) {
    @include fonts(16px, 22px, 400, 0.02em);

    max-width: 568px;
  }
}
.modal-about__title {
  font-family: var(--secondary-font);
  @include fonts(16px, 24px, 400, 0.02em);

  align-items: center;
  text-align: center;

  color: var(--accent-txt-cl);
  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
    @include fonts(20px, 28px, 400, 0.02em);
  }
}
.modal-about_video {
  border-radius: 10px;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 28px;
    width: 100%;
  }
  @media screen and (min-width: $desktop) {
    width: 448px;
    height: 205px;
  }
}

// MAIIA / Modal 4 MAP modal

// в загальний клас добавити вище
.modal {
  background-color: var(--modal-bg-cl);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  overflow-y: auto;
}
.modal-location {
  @include section(26px, 26px);
  padding-left: 26px;
  padding-right: 26px;

  max-width: 280px;

  @media screen and (min-width: $tablet) {
    max-width: 568px;
  }

  @media screen and (min-width: $desktop) {
    @include section(32px, 32px);

    padding-left: 60px;
    padding-right: 60px;
  }
}
.modal-location__title {
  font-family: var(--secondary-font);
  @include fonts(16px, 24px, 400, 0.02em);

  align-items: center;
  text-align: center;

  color: var(--accent-txt-cl);
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}
.modal-map {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    width: 100%;
  }
  @media screen and (min-width: $desktop) {
    width: 448px;
    // height: 260px;
  }
}
.modal-link {
  width: 136px;
  @include fonts(12px, 15px, 600, 0.02em);

  display: block;
  align-items: center;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  @include section(12px, 12px);
  padding-left: 34px;
  padding-right: 34px;

  color: var(--accent-txt-cl);
  background-color: var(--btn-cl);
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    width: 148px;
    @include fonts(14px, 17px, 600, 0.02em);
  }
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-cl);
  }
  &:focus {
    background-color: var(--btn-hover-cl);
    color: var(--btn-txt-focus-cl);
  }
  &disabled {
    background-color: var(--btn-disabled-cl);
  }
}
// Modal 4 end

// PRODUCT MODAL

.product-modal {
  height: 100vh;
  padding: 26px;
  overflow: auto;

  @media screen and (min-width: 480px) {
    width: 280px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 768px) {
    min-width: 568px;
    // min-height: 644px;
    padding: 32px 54px;
  }
  @media screen and (max-width: 767px) {
    // height: 991px;
  }

  @include mq(tablet) {
    height: 664px;
  }
  // background: #fcfcfc;
  // border: 2px solid #f8d24e;
  // border-radius: 10px;
}

.product-modal__title {
  color: var(--accent-txt-cl);

  @media screen and (min-width: 768px) {
    margin-bottom: 103px;
  }
  margin-bottom: 83px;
  text-align: center;
}

.product-list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }
}

.products__item {
  @media screen and (min-width: 480px) {
    width: 132px;
  }
  position: relative;
  height: 136px;
  padding: 96px 16px 20px 16px;
  display: block;
  margin: 0 auto;
  border: 2px solid var(--btn-border);

  color: #131313;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15px;
}
.products__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 82px;
  }
}
.products__item:last-child {
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.products__ice-cream {
  &:hover,
  &:focus {
    background: var(--bg-cl-1);
    border: transparent;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
  }
}

.products__ice-cream::before {
  width: 132px;
  height: 132px;
  content: '';
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/modal/bynow1-mob@1x.png);
  @media screen and (min-width: $desktop) {
    // background-image: url(../images/modal/bynow1-desk@2x.png);
  }
}

.products__ice-cream::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -94%);
  display: block;
  width: 132px;
  height: 132px;
  border-radius: 50%;

  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.products__ice-coffe {
  // background: #efd478;
  border: 2px solid #efd478;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    background: var(--bg-cl-2);
    border: transparent;
  }
}

.products__ice-coffe::before {
  width: 132px;
  height: 132px;
  content: '';
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);

  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/modal/bynow2-mob@1x.png);
  @media screen and (min-width: $desktop) {
    // background-image: url(../images/modal/bynow1-desk@2x.png);
  }
}

.products__ice-coffe::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -94%);

  display: block;
  width: 132px;
  height: 132px;
  border-radius: 50%;

  background: #efd478;
  border: 2px solid #efd478;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.products__milkshake {
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));

  &:hover,
  &:focus,
  &:active {
    background: var(--bg-cl-3);
    border: transparent;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
  }
}
.products__milkshake::before {
  width: 132px;
  height: 132px;
  content: '';
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);

  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/modal/bynow3-mob@1x.png);
  @media screen and (min-width: $desktop) {
    // background-image: url(../images/modal/bynow1-desk@2x.png);
  }
}

.products__milkshake::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -94%);
  display: block;
  width: 132px;
  height: 132px;
  border-radius: 50%;

  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.products__title {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(20 / 16);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

// PRODUCT FORM

.franchise-list__input {
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 368px;
    height: 42px;
    padding-left: 16px;
  }

  display: block;
  margin: 0 auto;
  width: 100%;
  height: 32px;
  margin-bottom: 12px;
  padding-left: 12px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid var(--bg-cl);
    outline: var(--bg-cl);
  }
}

.franchise-list__input::placeholder {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);

  color: #131313;
}

.product-list__comment {
  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-top: 11px;
  }
  width: 100%;
  height: 64px;
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
  padding-left: 12px;
  padding-top: 8px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid var(--bg-cl);
    outline: var(--bg-cl);
  }
}

.product-list__comment::placeholder {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  color: #131313;
}
