.products {
  padding-top: 60px;
  padding-bottom: 60px;

  font-family: var(--main-font);
  font-style: normal;
  color: var(--accent-txt-cl);

  // MOBILE

  &__label {
    margin-bottom: 12px;

    text-transform: uppercase;
    text-align: center;
    font-weight: 800;

    // MOBILE

    @include mq(tablet, max) {
      font-size: 18px;
      line-height: 1.22;
    }

    // TABLET

    @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
      font-size: 22px;
      line-height: 1.23;
    }

    // DESKTOP

    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 1.23;
      letter-spacing: 0.04em;
    }
  }

  .products__title {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    // MOBILE

    @include mq(tablet, max) {
      font-size: 30px;
      line-height: 1.27;
      letter-spacing: 0.04em;

      margin-bottom: 148px;
    }

    // TABLET

    @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
      font-size: 34px;
      line-height: 1.26;
      letter-spacing: 0.04em;

      margin-bottom: 200px;
    }

    // DESKTOP

    @media screen and (min-width: $desktop) {
      font-size: 36px;
      line-height: 1.25;
      letter-spacing: 0.06em;

      margin-bottom: 303px;
    }
  }

  .menu {
    .ice-cream {
      background-color: var(--bg-cl-1);
    }
    .ice-coffee {
      background-color: var(--bg-cl-2);
    }
    .milkshakes {
      background-color: var(--bg-cl-3);
    }

    // TABLET-DESKTOP

    @media screen and (min-width: $tablet) {
      display: flex;
    }

    &__element {
      position: relative;

      // MOBILE

      @include mq(tablet, max) {
        margin: 0 auto;
      }

      @media screen and (max-width: 479.98px) {
        width: 100%;
        height: 420px;

        border-radius: 24px;
      }

      @media screen and (min-width: $mobile) and (max-width: 767.98px) {
        width: 280px;
        height: 420px;

        border-radius: 24px;
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        width: 224px;
        height: 428px;

        border-radius: 15.7808px;
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        width: 370px;
        height: 536px;

        border-radius: 24px;
      }
    }

    &__element:not(:last-child) {
      // MOBILE

      @include mq(tablet, max) {
        margin-bottom: 168px;
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        margin-right: 16px;
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        margin-right: 29px;
      }
    }

    &__element::before {
      content: '';
      display: block;
      border-radius: 100%;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      // MOBILE-TABLET

      @media screen and (max-width: 1199.98px) {
        width: 200px;
        height: 200px;

        margin-top: -97px;
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        margin-top: -108px;
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        width: 302px;
        height: 302px;

        margin-top: -167px;
      }
    }

    .ice-cream::before {
      background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;

      // MOBILE

      @include mq(tablet, max) {
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
      }
    }

    .ice-coffee::before {
      background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;

      // MOBILE

      @include mq(tablet, max) {
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
      }
    }
    .milkshakes::before {
      background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;

      // MOBILE

      @include mq(tablet, max) {
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
      }
    }

    &__element::after {
      content: '';
      display: block;
      border-radius: 100%;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      width: 200px;
      height: 200px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      // MOBILE-TABLET

      @media screen and (max-width: 1199.98px) {
        width: 200px;
        height: 200px;

        // background-size: cover;
        // background-position: center;

        bottom: 78%;
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        bottom: 81%;
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        width: 302px;
        height: 302px;

        top: -34%;
      }
    }

    .ice-cream::after {
      // MOBILE

      @include mq(tablet, max) {
        background-image: url(../images/products/prod1-mob@1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products/prod1-mob@2x.jpg);
        }
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        background-image: url(../images/products/prod1-tab@1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products/prod1-tab@2x.jpg);
        }
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        background-image: url(../images/products/prod1-desk@1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products/prod1-desk@2x.jpg);
        }
      }
    }

    .ice-coffee::after {
      // MOBILE

      @include mq(tablet, max) {
        background-image: url(../images/products/prod2-mob@1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products/prod2-mob@2x.jpg);
        }
      }
      //     // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        background-image: url(../images/products/prod2-tab@1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products/prod2-tab@2x.jpg);
        }
      }
      //     // DESKTOP

      @media screen and (min-width: $desktop) {
        background-image: url(../images/products/prod2-desk@1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products/prod2-desk@2x.jpg);
        }
      }
    }
    .milkshakes::after {
      // MOBILE

      @include mq(tablet, max) {
        background-image: url(../images/products/prod3-mob@1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products/prod3-mob@2x.jpg);
        }
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        background-image: url(../images/products/prod3-tab@1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products/prod3-tab@2x.jpg);
        }
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        background-image: url(../images/products/prod3-desk@1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products/prod3-desk@2x.jpg);
        }
      }
    }

    .element__title {
      font-weight: 700;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      // MOBILE

      @include mq(tablet, max) {
        font-size: 20px;
        line-height: 1.2;

        margin-bottom: 40px;
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        font-size: 22px;
        line-height: 1.23;

        margin-bottom: 40px;
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        font-size: 30px;
        line-height: 1.23;

        margin-bottom: 60px;
      }
    }

    .element__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.76;
      text-align: center;
      letter-spacing: 0.04em;

      // MOBILE

      @include mq(tablet, max) {
        max-width: 200px;
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        max-width: 172px;
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        font-size: 16px;
        max-width: 242px;
      }
    }

    .element__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      // MOBILE

      @include mq(tablet, max) {
        padding-top: 123px;
        padding-bottom: 16px;
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        padding-top: 108px;
        padding-bottom: 12px;
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        padding-top: 165px;
        padding-bottom: 60px;
      }
    }
    .btn {
      position: absolute;

      display: flex;
      align-items: center;
      background-color: transparent;

      transition: fill 250ms ease-in-out;

      // MOBILE

      @include mq(tablet, max) {
        bottom: 12px;
      }

      // TABLET

      @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
        bottom: 16px;
      }

      // DESKTOP

      @media screen and (min-width: $desktop) {
        bottom: 60px;
      }

      &:hover,
      &:focus {
        fill: var(--btn-txt-focus-cl);
      }
    }
  }
}
